QBIT_USERNAME="your_username_here"
QBIT_PASSWORD='your_password_here'
PROTON_LOG_PATH="C:/Users/_user_/AppData/Local/Proton/Proton VPN/Logs/client-logs.txt"
APP_LOG_PATH="default_is_the_root_of_install_folder"